################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Botsharp.Platform.RasaTalk/v15
/Botsharp.Platform.RasaTalk/bin
/Botsharp.Platform.RasaTalk/obj
